footer{
  
  background-color: #21263E;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 5px;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  
}

p{

  color: white;

}

strong, span, a {

  color: #959396;

}